<md-dialog>
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Importar</h2>
        <span flex></span>
        <md-button ng-click="cancel()">Cerrar</md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <p>
        Presione CTRL + A en la página de hostelworld para seleccionar toda la página.Copie y pegue la información en el recuadro para importar los datos (no cambie nada). Puede ser que no se importen todos los datos en caso que hostelworld.com cambie la página. <strong>Revise los datos en el formulario después de importar.</strong></p>

        <md-input-container class="md-block">
          <label>Pegue aqui</label>
          <textarea ng-model="pastedData" rows="8" md-autofocus></textarea>
        </md-input-container>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button class="md-raised md-primary" ng-disabled="!pastedData" ng-click="import(pastedData)">
       Importar
      </md-button>
      <md-button class="md-raised" ng-click="cancel()">
        Cancelar
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>