<!DOCTYPE html>
<html ng-app="app">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Patagonia House - Add Guest</title>
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="https://apis.google.com/js/client.js"></script>
    <script src="/app.js"></script>
    <script src="/config-controller.js"></script>
    <script src="/utils.js"></script>
    <script src="/sheets.js"></script>
    <script src="/entry-controller.js"></script>
  </head>
  
  <body>
    <form ng-controller="ConfigController" ng-hide="configComplete" ng-submit="saveConfig()">
      <div>
        <label for="api-client-id-input">Google API Client ID</label>
        <input type="text" id="api-client-id-input" ng-model="config.apiClientId" autofocus />
      </div>
      
      <div>
        <label for="booking-sheet-id-input">Booking Sheet ID</label>
        <input type="text" id="booking-sheet-id-input" ng-model="config.bookingSheetId" />
      </div>
      
      <div>
        <label for="booking-sheet-input">Booking Sheet Name</label>
        <input type="text" id="booking-sheet-input" ng-model="config.bookingSheet" />
      </div>
      
      <button type="submit">Save Config</button>
    </form>
    
    <form ng-controller="EntryController" ng-show="configComplete" ng-submit="addEntry()">
      <div>
        <label for="name-input">Name</label>
        <input type="text" id="name-input" ng-model="entry.name" />
      </div>
      
      <div>
        <label for="days-input">Days</label>
        <input type="number" id="days-input" ng-model="entry.days" />
      </div>
      
      <div>
        <label for="bed-input">Bed</label>
        <select id="bed-input" ng-model="entry.bed">
          <option>1A</option>
          <option>1B</option>
          <option>2A</option>
          <option>2B</option>
        </select>
      </div>
      
      <button type="submit">Add</button>
    </form>
  </body>
</html>
