<!DOCTYPE html>
<html ng-app="app">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Patagonia House - Add Guest</title>
    
    <link rel="stylesheet" type="text/css" href="https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.1/angular-material.css" />
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-route.min.js"></script>
    <script src="https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.1/angular-material.js"></script>
    <script src="https://apis.google.com/js/client.js"></script>
    <script src="/app.js"></script>
    <script src="/config-controller.js"></script>
    <script src="/utils.js"></script>
    <script src="/sheets.js"></script>
    <script src="/entry-controller.js"></script>
  </head>
  
  <body>
    <md-content layout-padding>
      <form ng-controller="ConfigController" ng-hide="configComplete" ng-submit="saveConfig()">
        <div layout="row">
          <md-input-container>
            <label>Google API Client ID</label>
            <input type="text" ng-model="config.apiClientId" autofocus />
          </md-input-container>
        </div>
        
        <div layout="row">
          <md-input-container flex>
            <label>Booking Sheet ID</label>
            <input type="text" ng-model="config.bookingSheetId" />
          </md-input-container>

          <md-input-container>
            <label>Booking Sheet Name</label>
            <input type="text" ng-model="config.bookingSheet" />
          </md-input-container>
        </div>
        
        <div layout="row">
          <md-input-container>
            <label>Rooms Sheet ID</label>
            <input type="text" ng-model="config.roomsSheetId" />
          </md-input-container>
        </div>
        
        <div layout="row">
          <md-button type="submit"class="md-primary">Save Config</md-button>
        </div>
      </form>
    </md-content>
      
    
    <form ng-controller="EntryController" ng-show="configComplete" ng-submit="addEntry()">
      <div>
        <label for="name-input">Name</label>
        <input type="text" id="name-input" ng-model="entry.name" />
      </div>
      
      <div>
        <label for="days-input">Days</label>
        <input type="number" id="days-input" ng-model="entry.days" />
      </div>
      
      <div>
        <label for="bed-input">Bed</label>
        <select id="bed-input" ng-model="entry.bed">
          <option>1A</option>
          <option>1B</option>
          <option>2A</option>
          <option>2B</option>
        </select>
      </div>
      
      <button type="submit">Add</button>
    </form>
  </body>
</html>
