<!DOCTYPE html>
<html ng-app="app">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Patagonia House - Add Guest</title>
    
    <link rel="stylesheet" type="text/css" href="https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.1/angular-material.css" />
    <link rel="stylesheet" type="text/css" href="/styles.css" />
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-route.min.js"></script>
    <script src="https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.1/angular-material.js"></script>
    <script src="https://apis.google.com/js/client.js"></script>
    <script src="/app.js"></script>
    <script src="/config-controller.js"></script>
    <script src="/utils.js"></script>
    <script src="/sheets.js"></script>
    <script src="/entry-controller.js"></script>
  </head>
  
  <body>
    <div layout-padding>
      <div ng-controller="ConfigController" ng-hide="configComplete" class="base-container md-whiteframe-z1">
        <md-toolbar class="md-primary">
          <div class="md-toolbar-tools">
            <h2>Configuration</h2>
          </div>
        </md-toolbar>

        <form ng-submit="saveConfig()">
          <div layout="row">
            <md-input-container flex>
              <label>Google API Client ID</label>
              <input type="text" ng-model="config.apiClientId" autofocus />
            </md-input-container>
          </div>

          <div layout="row">
            <md-input-container class="md-block" flex>
              <label>Booking Sheet ID</label>
              <input type="text" ng-model="config.bookingSheetId" />
            </md-input-container>

            <md-input-container class="md-block" flex>
              <label>Booking Sheet Name</label>
              <input type="text" ng-model="config.bookingSheet" />
            </md-input-container>
          </div>

          <div layout="row">
            <md-input-container class="md-block" flex>
              <label>Rooms Sheet ID</label>
              <input type="text" ng-model="config.roomsSheetId" />
            </md-input-container>
          </div>

          <div layout="row">
            <md-button type="submit" class="md-raised md-primary">Continue</md-button>
          </div>
        </form>
      </div>

      <div ng-controller="EntryController" ng-show="configComplete" class="base-container md-whiteframe-z1">
        <md-toolbar class="md-primary">
          <div class="md-toolbar-tools">
            <h2>Add booking</h2>
          </div>
        </md-toolbar>

        <form ng-submit="addEntry()">
          <div layout="row">
            <md-input-container flex>
              <label>Name</label>
              <input type="text" ng-model="entry.Name" autofocus />
            </md-input-container>

            <md-input-container flex>
              <label>Date of Arrival</label>
              <md-datepicker ng-model="entnry.date"></md-datepicker>

              <md-button type="button" ng-click="checkRooms()">Check rooms</md-button>
            </md-input-container>
          </div>

          <div layout="row">
            <md-button type="submit" class="md-raised md-primary">Add</md-button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
