.main-container {
  padding: 8px;
}

@media (max-width: 959px) {
  .main-container {
    padding: 0;
  }
}

.base-container {
  border-radius: 4px;
  max-width: 960px;
}

.base-container > md-toolbar {
  border-radius: 3px 3px 0 0;
}

.base-container > form {
  padding: 8px;
}

.invisible {
	visibility: hidden;
}

md-input-container {
  margin: 8px 0;
}

md-radio-button {
	overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

md-input-container .hint {
  /* Position the hint */
  position: absolute;
  left: 2px;
  right: auto;
  bottom: -14px;
  /* Copy styles from ng-messages */
  font-size: 12px;
  line-height: 14px;
  transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
  /* Set our own color */
  color: #aaa; }
md-input-container .hint.ng-hide,
md-input-container .hint.ng-enter,
md-input-container .hint.ng-leave.ng-leave-active {
  bottom: 26px;
  opacity: 0; }
md-input-container .hint.ng-leave,
md-input-container .hint.ng-enter.ng-enter-active {
  bottom: 7px;
  opacity: 1; }

md-input-container.with-hint {
  margin-bottom: 24px;
}